/* ページ全体に適用する基本デザイン */
body {
  /* ブラウザが最初から持っている外側の余白をなくす */
  margin: 0;

  /* ページ全体の文字を読みやすいゴシック体にする */
  font-family: sans-serif;

  /* ページ全体の背景を、温かみのあるミルクティー系ベージュにする */
  background-color: #e1d2c0;

  /* ページ全体の文字色を、少し青みを含んだ淡いグレーにする */
  color: #818685;
}